<a href="https://colab.research.google.com/github/mesbahiba/Other/blob/main/RFM_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Customer segmentation RFM analysis

#### Load the required libraries and read data from Online retail excel file

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sn
%matplotlib inline

In [ ]:
Retail_df = pd.read_excel("Online Retail.xlsx")

In [ ]:
Retail_df

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [ ]:
Retail_df.to_csv("borhan.csv")

#### Convert the series invoice date data in datetime format and count the unique number of attributes

In [ ]:
#Convert the date in YYYY-mm-dd HH:MM format and store that date in 'Date' column
Retail_df['Date']=pd.to_datetime(Retail_df['InvoiceDate'], format = '%Y-%m-%d %H:%M:%S')
#Retail_df['Date']=Retail_df['Date'].apply(lambda x: x.strftime('%Y-%d-%m %H:%M'))

# Count the unique no of attributes in Retail data
def unique_counts(Retail_df):
   for i in Retail_df.columns:
       count = Retail_df[i].nunique()
       print(i, ": ", count)
unique_counts(Retail_df)

InvoiceNo :  25900
StockCode :  4070
Description :  4223
Quantity :  722
InvoiceDate :  23260
UnitPrice :  1630
CustomerID :  4372
Country :  38
Date :  23260

#### Calculate Total Price by multiplying units and quantity and store that value in separate column Total_Price

In [ ]:

Retail_df['Total_Price']=Retail_df['Quantity']*Retail_df['UnitPrice']
Retail_df.head(10)

  InvoiceNo StockCode  ...                Date  Total_Price
0    536365    85123A  ... 2010-12-01 08:26:00        15.30
1    536365     71053  ... 2010-12-01 08:26:00        20.34
2    536365    84406B  ... 2010-12-01 08:26:00        22.00
3    536365    84029G  ... 2010-12-01 08:26:00        20.34
4    536365    84029E  ... 2010-12-01 08:26:00        20.34
5    536365     22752  ... 2010-12-01 08:26:00        15.30
6    536365     21730  ... 2010-12-01 08:26:00        25.50
7    536366     22633  ... 2010-12-01 08:28:00        11.10
8    536366     22632  ... 2010-12-01 08:28:00        11.10
9    536367     84879  ... 2010-12-01 08:34:00        54.08

[10 rows x 10 columns]

#### Only consider rows without NaN values and store the data in dataset Online_retail_df

In [ ]:

Online_retail_df = Retail_df[np.isfinite(Retail_df['CustomerID'])]


#### Count the unique no of attributes in Retail data

In [ ]:

unique_counts(Online_retail_df)

InvoiceNo :  22190
StockCode :  3684
Description :  3896
Quantity :  436
InvoiceDate :  20460
UnitPrice :  620
CustomerID :  4372
Country :  37
Date :  20460
Total_Price :  4041

In [ ]:
#For the sake of calculating recency and frequency, drop the rows with negative values of Quantity and store the data in final_df
final_retail = Online_retail_df[Online_retail_df['Quantity'] > 0]

In [ ]:
final_retail.shape

(397924, 10)

In [ ]:
unique_counts(final_retail)

In [ ]:
type(final_retail['Date'].max())

In [ ]:
final_retail['Date'].min()

In [ ]:
final_retail.to_csv("sales_tramsaction.csv")

### Q5.a ) Calculate RFM value of each customer
#### Assumption: In this final dataset , I have removed all the transaction with negative quantity value

In [ ]:
#Calculate recency and frequency
import datetime as dt
NOW = dt.datetime(2011,12,10)

In [ ]:
final_retail

In [ ]:
rfmTable = final_retail.groupby('CustomerID').agg({'Date': lambda x: (NOW - x.max()).days, 'InvoiceNo': lambda x: len(x),'Total_Price': lambda x: x.sum()})
rfmTable['Date'] = rfmTable['Date'].astype(int)
rfmTable.rename(columns={'Date': 'recency', 
                         'InvoiceNo': 'frequency',
                       'Total_Price': 'monetary_value'}, inplace=True)

In [ ]:
#rfmTable = pd.merge(mTable, rfTable, on="CustomerID",how = 'inner')
rfmTable.shape
rfmTable.to_csv("RFM_data.csv")

In [ ]:
rfmTable

            recency  frequency  monetary_value
CustomerID
12346.0         325          1        77183.60
12347.0           2        182         4310.00
12348.0          75         31         1797.24
12349.0          18         73         1757.55
12350.0         310         17          334.40
...             ...        ...             ...
18280.0         277         10          180.60
18281.0         180          7           80.82
18282.0           7         12          178.05
18283.0           3        756         2094.88
18287.0          42         70         1837.28

[4339 rows x 3 columns]